.app-container {
  display: flex;
}

.content {
  width: 100%;
}

.sidebar {
  min-height: 800px;
}

.post-card {
  margin: 20px 50px;
}

.hashtag {
  margin: 0 3px;
}

.reactions {
  margin: 15px 0 0 0;
}

.create-post {
  width: 50%;
  margin: 50px auto;
}

.welcome-message {
  margin: 100px 0;
}

.reactions-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 110px;
}
